.contenedor{
    display: flex;
    justify-content: center;
}
table{
    border-collapse: collapse;
    border: 2px solid black;
    letter-spacing: 1px;
    font-size: 1.5rem;
    background-color: white;

}
th{
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(7, 212, 41);

}
td{
    border: 1px solid black;
    padding: 10ox;
    background-color: rgb(236, 170, 236);
}

h2{
    justify-content: center;
    margin: 0;
    padding: 20px;
}

tr:hover{
    background-color: grey;
}

